* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
}

header {
    display: flex;
    background: #333;
}

span {
    min-height: 100%;
    text-align: center;
    padding: 1rem;
    margin-top: .4rem;
    font-size: 1rem;
    color: #f2f2f2;
}

.topnav {
    margin-left: auto;
    overflow: hidden;
}


.topnav a {
    font-size: 1rem;
    height: 100%;
    color: #f2f2f2;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    outline: 0;
}

.topnav a:hover {
    background-color: #4caf50;
    color: white;
}

.topnav a.active {
    background-color: #4caf50;
    color: white;
}

.topnav .icon {
    display: none;
}



@media screen and (max-width: 700px) {
    .topnav a:not(:first-child) {
        display: none;
    }

    .topnav a.icon {
        display: inline-block;

    }
    
}
@media screen and (max-width: 700px) {
    .topnav.responsive {
        display: flex;
        flex-direction: column;
        width: 300px;
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        top: 0;
        right: 0;
        display: inline-block;
    }
    .topnav a:hover {
        background: none;
    }
    .topnav.responsive a {
        display: block;
    }
  }